<!doctype html>

<html ng-app="market">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>
</head>

<body class="p-3 mb-2 bg-secondary text-white">
<div class="container " ng-controller="indexController" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-warning shadow-sm p-4 mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Market</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" ng-show="!isUserLoggedIn()">
                        <form class="form-inline" ng-submit="tryToAuth()">
                            <input id="navLoginField" class="form-control mr-sm-2" ng-model="user.username" type="text"
                                   placeholder="Username" aria-describedby="inputGroup-sizing-sm">
                            <input id="navPasswordField" class="form-control mr-sm-2" ng-model="user.password"
                                   type="password"
                                   placeholder="Password" aria-describedby="inputGroup-sizing-sm">
                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm" type="submit">Login
                            </button>
                        </form>
                    </li>
                    <li class="nav-item" ng-show="isUserLoggedIn()">
                        <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Logout</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-warning btn-sm" ng-click="authCheck()">Check User</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <p></p>
    <h1>My Market</h1>
    <p></p>
    <h3>Список товаров</h3>
    <p></p>
    <table class="table table-hover bg-dark border border-warning">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in products">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <!--                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button>-->
                <button class="btn btn-primary" ng-click="addToCart(p.id)">Add to Cart</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <!--    <h3>Добавить продукт</h3>-->
    <!--    <p></p>-->
    <!--    <form class="row g-3" ng-submit="createNewProduct()">-->
    <!--        <div class="col-auto">-->
    <!--            <input type="text" class="form-control" id="newProductTitle" ng-model="newProduct.title" placeholder="Название">-->
    <!--        </div>-->
    <!--        <div class="col-auto">-->
    <!--            <input type="number" class="form-control" id="newProductPrice" ng-model="newProduct.price" placeholder="Цена">-->
    <!--        </div>-->
    <!--        <div class="col-auto">-->
    <!--            <button type="submit" class="btn btn-primary mb-3">Создать</button>-->
    <!--        </div>-->
    <!--    </form>-->

    <p></p>
    <h3>Cart</h3>
    <p></p>
    <table class="table table-hover bg-dark border border-warning">
        <thead>
        <tr>
            <td>Name</td>
            <td>Count</td>
            <td>Price</td>
            <td>
                <button class="btn btn-danger" ng-click="clearCart()">Clear Cart</button>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>
                <button class="btn btn-danger" ng-click="decreaseQuantity(item.productId)">-</button>
                {{item.quantity}}
                <button class="btn btn-primary" ng-click="increaseQuantity(item.productId)">+</button>
            </td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="removeFromCart(item.productId)">Remove from Cart</button>
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>