<div>
    <p></p>
    <h3>Products list</h3>
    <p></p>
    <table class="table table-hover table-txt-schema custom-bg-color "> <!-- border border-warning ;-->
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in products">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <!--                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button>-->
                <button class="btn btn-primary" ng-click="addToCart(p.id)">Add to Cart</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>