<div>
  <p></p>
  <h3>Cart</h3>
  <p></p>
  <table class="table table-hover table-txt-schema custom-bg-color " >
    <thead>
    <tr>
      <td>Order ID</td>
      <td>Delivery Address</td>
      <td>Phone</td>
      <td>Price</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders">
      <td>{{order.id}}</td>
      <td>{{order.address}}</td>
      <td>{{order.phone}}</td>
      <td>{{order.totalPrice}}</td>
      <td>
        <button class="btn btn-primary" id="button-pay" ng-click="goToPay(order.id)">Pay</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>